body {
    background-color: black;
}

.dialog-box {

    .dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 292px;
        width: 364px;
        margin-top: -146px;
        margin-left: -182px;
        padding: 26px 32px 32px 32px;
        border-radius: 12px;
        border: none;

        .dialog__form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 12px;
                margin-bottom: 16px;
            }

            input {
                color: white;
                font-size: 11px;
                margin-bottom: 20px;
                background: #111111;
                height: 34px;
                padding: 8px;
                border-radius: 4px;
                border: 2px solid #ccc;
                transition: border 0.2s ease;
                outline: none;
            }

            input:last-child {
                margin-bottom: 19px;
            }

            input:focus {
                border: 2px solid red;
            }

            button {
                cursor: pointer;
                font-size: 13px;
                height: 36px;
                background-color: red;
                border: none;
                border-radius: 4px;
            }
        }

        .dialog__header {
            text-align: center;
            margin-bottom: 20px;
        }

        .dialog__form > * {
            font-family: 'Arcade';
        }
    }
}

.active {
    display: flex !important;
}

.container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    .player-turn {
        font-family: 'Arcade';
        color: white;
        font-size: 16px;
        margin-bottom: 60px;
    }

    .game {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        max-width: 312px;
        margin-bottom: 65px;

        .box {
            width: 89px;
            height: 95px;
            flex-basis: 94px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid white;
            cursor: pointer;
            
            img {
                height: 89%;
            }
        }

        .box:hover {
            border: 2px solid red;
        }
    }

    .controls {

        .restart {
            font-family: 'Arcade';
            cursor: pointer;
            color: white;
            font-size: 11px;
            padding: 13px 21px;
            background: transparent;
            border: 4px solid #00f;
            box-shadow: 0 0 5px #00f, 0 0 10px #00f;
            transition: all 0.2s ease;
        }

        .restart:hover {
            background-color: #001aff;
            color: white;
            box-shadow: 0 0 10px #00f, 0 0 20px #00f;
        }
    }

}