body {
    background-color: black;
}

.dialog__container {

    .dialog__start {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 292px;
        width: 364px;
        margin-top: -146px;
        margin-left: -182px;
        padding: 26px 32px 32px 32px;
        border-radius: 12px;
        border: none;
        overflow: hidden;

        &__form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 12px;
                margin-bottom: 16px;
            }

            input {
                color: white;
                font-size: 11px;
                margin-bottom: 20px;
                background: #111111;
                height: 34px;
                padding: 8px;
                border-radius: 4px;
                border: 2px solid #ccc;
                transition: border 0.2s ease;
                outline: none;
            }

            input:last-child {
                margin-bottom: 19px;
            }

            input:focus {
                border: 2px solid red;
            }

            button {
                cursor: pointer;
                font-size: 13px;
                height: 36px;
                background-color: red;
                border: none;
                border-radius: 4px;
            }
        }

        &__header {
            text-align: center;
            margin-bottom: 20px;
        }

        &__form > * {
            font-family: 'Arcade';
        }
    }

    .dialog__reset {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 162px;
        width: 372px;
        margin-top: -81px;
        margin-left: -186px;
        padding: 32px;
        border-radius: 12px;
        border: 4px solid red;
        box-shadow: 0 0 10px red, 0 0 20px red;
        background: black;
        overflow: hidden;


        &__form > * {
            font-family: 'Arcade';
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__header {
            color: red;
            font-size: 15px;
            text-align: center;
            margin-bottom: 40px;
        }

        button {
            cursor: pointer;
            font-size: 13px;
            height: 36px;
            background-color: red;
            border: none;
            border-radius: 4px;
            outline: none;
        }

        button:hover {
            background-color: rgb(218, 0, 0);
        }
    }

    .dialog__reset::backdrop {
        background-color: rgba(0, 0, 0, 0.425);
    }
}



.active {
    display: flex !important;
}

.p2:hover {
    border: 2px solid red !important;
}

.container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    .player-turn {
        font-family: 'Arcade';
        color: white;
        font-size: 16px;
        margin-bottom: 60px;
    }

    .game {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        max-width: 312px;
        margin-bottom: 65px;

        .box {
            width: 89px;
            height: 95px;
            flex-basis: 94px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid white;
            cursor: pointer;
            
            img {
                height: 89%;
            }
        }

        .box:hover {
            border: 2px solid #001aff;
        }
    }

    .controls {

        .restart-btn {
            font-family: 'Arcade';
            cursor: pointer;
            color: white;
            font-size: 11px;
            padding: 13px 21px;
            background: transparent;
            border: 4px solid #00f;
            box-shadow: 0 0 5px #00f, 0 0 10px #00f;
            transition: all 0.2s ease;
        }

        .restart-btn:hover {
            background-color: #001aff;
            color: white;
            box-shadow: 0 0 10px #00f, 0 0 20px #00f;
        }
    }

}